<div class='container-fluid'>
  <div class='row'>
    <div col-md-6 col-sm-6>
      <img src='/src/assets/' alt='Logo' />
    </div>
    <div col-md-6 col-sm-6>
      <input type='text' id='search_field' placeholder='Search' />
      <button class='btn btn-primary' id='inteligent_filter'>Inteligent Filter</button>
      <button class='btn btn-primary' id='filter'>Filter</button>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12 col-sm-12'>
      <div class='card'>
        <h3>My Funds (20)</h3>
        <div class='col-md-6 col-sm-6' id='pie_chart'></div>
        <div class='col-md-6 col-sm-6' id='asset_table_hold'>
          <p>Asset Breakdown</p>
          <div className="table-responsive">
            <table className="table table-hover" id="asset_table">
              <thead></thead>
              <tbody>
                <tr>
                  <td></td>
                  <td>Cash and Money Markets</td>
                  <td>9.50%</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Cash and Money Markets</td>
                  <td>9.50%</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Cash and Money Markets</td>
                  <td>9.50%</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Cash and Money Markets</td>
                  <td>9.50%</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Cash and Money Markets</td>
                  <td>9.50%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class='col-md-12 col-sm-12'>
          <div class='row'>
            <div class='col-md-4 col-sm-12'>Portfolio Scan</div>
            <div class='col-md-4 col-sm-12'>Comparison Report</div>
            <div class='col-md-4 col-sm-12'>Chart</div>
            <div class='col-md-4 col-sm-12'><button class='btn'>Close</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-7 col-sm-12'>
      <nav class="nav-justified ">
        <div class="nav nav-tabs " id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="pop1-tab" data-toggle="tab" href="#pop1" role="tab"
            aria-controls="pop1" aria-selected="true">Tab1</a>
          <a class="nav-item nav-link" id="pop2-tab" data-toggle="tab" href="#pop2" role="tab" aria-controls="pop2"
            aria-selected="false">Tab2</a>
          <a class="nav-item nav-link" id="pop3-tab" data-toggle="tab" href="#pop3" role="tab" aria-controls="pop3"
            aria-selected="false">Tab3</a>

        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="pop1" role="tabpanel" aria-labelledby="pop1-tab">
          <div class="pt-3"></div>
          <div className="table-responsive">
              <table class='table table-hover'>
                <thead>
                  <tr>
                    <th colspan="3">Atividades do projeto</th>
                  </tr>
                  <tr>
                    <th>#</th>
                    <th colspan="2">Atividade</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Atualizar página da equipe</td>
                    <td>
                      <span class="material-icons">face</span>
                      <i class="material-icons button delete">delete</i>
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Design da nova marca</td>
                    <td>
                      <i class="material-icons button edit">edit</i>
                      <i class="material-icons button delete">delete</i>
                    </td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Encontrar desenvolvedor front-end</td>
                    <td>
                      <i class="material-icons button edit">edit</i>
                      <i class="material-icons button delete">delete</i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>


      </div>
     
    </div>
    <div class='col-md-5 col-sm-12'>
      <button class='btn btn-default'>Configure your widgets</button>
      <div class='card'>
        <h4>Most popular funds</h4>
      </div>
      <div class='card'>
        <h4>Top performing funds</h4>
      </div>
    </div>
  </div>
