// table {
//     display: flex;
//     flex-flow: column;
//     width: 100%;
// }

// thead {
//     flex: 0 0 auto;
// }

// tbody {
//     flex: 1 1 auto;
//     display: block;
//     overflow-y: auto;
//     overflow-x: hidden;
// }

// tr {
//     width: 100%;
//     display: table;
//     table-layout: fixed;
// }

.no-lt-br{
    border-top-left-radius: 0;
}
.no-lr-br{
    border-top-right-radius: 0;
}
.no-bl-br{
    border-bottom-left-radius: 0;
}
.no-br-br{
    border-bottom-right-radius: 0;
}

.nav-tabs .nav-link.active {
    font-weight:bold;
    background-color: transparent;
    border-bottom:3px solid #26bdd7;
    border-right: none;
    border-left: none;
    border-top: none;
}

.toggle-panel{
    cursor: pointer;
}
.buy, .chart{
    padding: 1px 5px;
    padding-bottom: 3px;
}

.buy{
    background: green;
    color:#fff;
}
a.expand {
    padding: 1px 5px;
}
.thumbnail{
    width: 70px;
    padding-right: 10px;
}
.comparison{
    height: 40px;
    width: 48px;
}
