* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #333;
  margin: 15px;
  background: #ddd;
}

.logo {
  height: 100%;
  position: relative;
  top: -7px;
}

.table-seperator {
  border-bottom: 2px solid #ddd;
}

.grey-footer {
  background: #8e8c8c;

  div {
    color: #fff;
  }
}

.btn {
  padding: 0.175rem .75rem;
}

.right-border-15-grey {
  border-right: 15px solid #ddd;
}

.white-bg {
  background: #fff;
  padding-top: 15px;
  border-radius: 5px;
}

.title-font {
  font-size: 20px !important;
  padding-left: 0.375em;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}

.margin-right-10 {
  margin-right: 10px;
}

.padding-15 {
  padding: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-21 {
  margin-bottom: 21px;
}

.nav-row {
  margin: 0 -30px;
  background: #2691c5;
  padding: 15px;
  padding-bottom: 0;
  margin-bottom: 15px;
}

table {
  text-align: left;
  line-height: 40px;
  border-collapse: separate;
  border-spacing: 0;
  width: 500px;
  margin: auto;
  border-radius: .25rem;

  thead tr:first-child {
    background: #ed1c40;
    color: #fff;
    border: none;
  }

  th {
    font-weight: 500;
  }

  thead th,
  .table th,
  tbody tr:last-child td {
    border: none;
  }

  tbody tr:hover {
    background-color: #f2f2f2;
    cursor: default;
  }

  td:last-child {
    padding-right: 10px;
  }

  p {
    margin: 0;
  }
}

.table td,
.table th,
tbody tr:last-child td {
  font-size: 14px;
  border: none;
  padding: .25rem;
  border-bottom: 1px solid #ddd;
}

.button {
  color: #aaa;
  cursor: pointer;
  vertical-align: middle;
  margin-top: -4px;
}

.edit:hover {
  color: #0a79df;
}

.delete:hover {
  color: #dc2a2a;
}

g[class*='-creditgroup'] {
  display: none;
}

.square {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 3px;
}

.greenSquare {
  background: green;
}

#asset_breakdown_table {
  tbody {
    tr {
      td:first-child {
        text-align: center;
      }
    }
  }
}

span.range {
  display: block;
  height: 15px;
  border-radius: 0px;
}

.highestReturn {
  background: green;
}

.aboveAverage {
  width: 70%;
  background: rgb(187, 196, 72);
}

.average {
  width: 50%;
  background: #f1bc29;
}

.belowAverage {
  width: 40%;
  background: #df7c43;
}

.worst {
  width: 20%;
  background: #dd491b;
}
